.landing-page {
  position: relative;
  width: 1437px;
  height: 4976px;
  background-color: #cccccc;
  overflow: hidden;
}

.landing-page .frame {
  position: absolute;
  width: 752px;
  height: 524px;
  top: 2080px;
  left: 58px;
  background-color: #ebebeb;
}

.landing-page .overlap-group {
  position: absolute;
  width: 663px;
  height: 366px;
  top: 84px;
  left: 75px;
}

.landing-page .list {
  display: flex;
  flex-direction: column;
  width: 663px;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page .copy {
  display: flex;
  flex-direction: column;
  width: 515px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-XS);
  position: relative;
  flex: 0 0 auto;
}

.landing-page .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #022d81;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .div {
  position: relative;
  width: 493px;
  height: 38px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.landing-page .element {
  position: relative;
  width: 32px;
  height: 32px;
}

.landing-page .value-added-modules {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #022d81;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .span {
  font-weight: 600;
}

.landing-page .text-wrapper-2 {
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #022d81;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.landing-page .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #022d81;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 59px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: absolute;
  top: 25px;
  left: 521px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-4 {
  position: relative;
  width: 51px;
  margin-top: -1px;
  margin-left: -20px;
  margin-right: -20px;
  color: #cccccc;
  font-size: var(--small-text-font-size);
  text-align: center;
  line-height: var(--small-text-line-height);
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  font-style: var(--small-text-font-style);
}

.landing-page .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: absolute;
  top: 152px;
  left: 521px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  color: #cccccc;
  font-size: var(--small-text-font-size);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  font-style: var(--small-text-font-style);
}

.landing-page .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: absolute;
  top: 273px;
  left: 521px;
  background-color: #000000;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .img {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 77px;
  left: 16px;
}

.landing-page .frame-2 {
  position: absolute;
  width: 47px;
  height: 43px;
  top: 218px;
  left: 18px;
}

.landing-page .frame-3 {
  position: absolute;
  width: 50px;
  height: 47px;
  top: 357px;
  left: 16px;
}

.landing-page .p {
  position: absolute;
  width: 819px;
  top: 1954px;
  left: 297px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #022d81;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52.8px;
  white-space: nowrap;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  width: 818px;
  top: 2897px;
  left: 498px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #022d81;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52.8px;
  white-space: nowrap;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  width: 818px;
  top: 3923px;
  left: 659px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #022d81;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52.8px;
  white-space: nowrap;
}

.landing-page .copy-2 {
  display: flex;
  flex-direction: column;
  width: 515px;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 870px;
  left: 58px;
}

.landing-page .welcome-to-b-d-karve {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 52.8px;
}

.landing-page .text-wrapper-8 {
  color: #022d81;
}

.landing-page .text-wrapper-9 {
  color: #000000;
}

.landing-page .text-wrapper-10 {
  color: #f91c1c;
}

.landing-page .under-the-aegis-of {
  position: relative;
  width: 661px;
  margin-right: -146px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.landing-page .button-3 {
  position: absolute;
  width: 430px;
  height: 56px;
  top: 2680px;
  left: 481px;
}

.landing-page .button-4 {
  position: absolute;
  width: 332px;
  height: 88px;
  top: 3118px;
  left: 72px;
}

.landing-page .button-5 {
  position: absolute;
  width: 332px;
  height: 88px;
  top: 3118px;
  left: 530px;
}

.landing-page .button-6 {
  position: absolute;
  width: 332px;
  height: 88px;
  top: 3118px;
  left: 987px;
}

.landing-page .button-7 {
  position: absolute;
  width: 332px;
  height: 88px;
  top: 3288px;
  left: 72px;
}

.landing-page .button-8 {
  position: absolute;
  width: 332px;
  height: 88px;
  top: 3288px;
  left: 530px;
}

.landing-page .button-9 {
  position: absolute;
  width: 332px;
  height: 88px;
  top: 3288px;
  left: 987px;
}

.landing-page .overlap {
  position: absolute;
  width: 1437px;
  height: 824px;
  top: 0;
  left: -1px;
}

.landing-page .navigation {
  position: absolute;
  width: 1437px;
  height: 164px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.landing-page .navbar {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 56px;
  left: 576px;
}

.landing-page .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.landing-page .button-10 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0559fd;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.landing-page .website-logo-wrapper {
  position: absolute;
  width: 424px;
  height: 108px;
  top: 30px;
  left: 23px;
}

.landing-page .website-logo {
  position: absolute;
  width: 371px;
  height: 90px;
  top: 0;
  left: 11px;
  object-fit: cover;
}

.landing-page .HEAD-IMAGE {
  position: absolute;
  width: 1437px;
  height: 688px;
  top: 136px;
  left: 0;
}

.landing-page .element-2 {
  position: absolute;
  width: 1436px;
  height: 662px;
  top: 26px;
  left: 1px;
  object-fit: cover;
}

.landing-page .navigation-footer {
  position: absolute;
  width: 1437px;
  height: 436px;
  top: 4540px;
  left: -1px;
  background-color: #0b0b0b;
}

.landing-page .social-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 30px;
  position: absolute;
  top: 378px;
  left: 637px;
}

.landing-page .buttons-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.landing-page .icon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.landing-page .icon-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
}

.landing-page .icon-3 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
}

.landing-page .icon-4 {
  position: absolute;
  width: 20px;
  height: 14px;
  top: 5px;
  left: 2px;
}

.landing-page .divider {
  position: absolute;
  width: 1280px;
  height: 1px;
  top: 0;
  left: 80px;
  object-fit: cover;
}

.landing-page .website-logo-footer-wrapper {
  position: absolute;
  width: 424px;
  height: 108px;
  top: 24px;
  left: 20px;
}

.landing-page .website-logo-footer {
  position: absolute;
  width: 379px;
  height: 73px;
  top: 17px;
  left: 23px;
  object-fit: cover;
}

.landing-page .overlap-2 {
  position: absolute;
  width: 307px;
  height: 208px;
  top: 156px;
  left: 80px;
}

.landing-page .frame-4 {
  position: absolute;
  width: 307px;
  height: 208px;
  top: 0;
  left: 0;
  overflow: hidden;
}

.landing-page .text-wrapper-12 {
  position: absolute;
  height: 24px;
  top: 9px;
  left: 54px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  height: 24px;
  top: 39px;
  left: 54px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
  white-space: nowrap;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  height: 24px;
  top: 71px;
  left: 54px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
  white-space: nowrap;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  height: 24px;
  top: 102px;
  left: 54px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
  white-space: nowrap;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  width: 312px;
  height: 48px;
  top: 150px;
  left: 11px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.landing-page .white-removebg {
  top: 74px;
  position: absolute;
  width: 26px;
  height: 27px;
  left: 21px;
  object-fit: cover;
}

.landing-page .white-removebg-2 {
  top: 107px;
  position: absolute;
  width: 26px;
  height: 27px;
  left: 21px;
  object-fit: cover;
}

.landing-page .telephone-white {
  top: 12px;
  position: absolute;
  width: 23px;
  height: 24px;
  left: 24px;
  object-fit: cover;
}

.landing-page .telephone-white-2 {
  top: 43px;
  position: absolute;
  width: 23px;
  height: 24px;
  left: 24px;
  object-fit: cover;
}

.landing-page .frame-5 {
  position: absolute;
  width: 254px;
  height: 328px;
  top: 43px;
  left: 508px;
}

.landing-page .text-wrapper-17 {
  position: absolute;
  height: 30px;
  top: 28px;
  left: 30px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.landing-page .div-2 {
  position: absolute;
  height: 168px;
  top: 79px;
  left: 6px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}

.landing-page .text-wrapper-18 {
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}

.landing-page .frame-6 {
  position: absolute;
  width: 254px;
  height: 328px;
  top: 41px;
  left: 809px;
}

.landing-page .text-wrapper-19 {
  position: absolute;
  height: 30px;
  top: 71px;
  left: 1196px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.landing-page .map {
  position: absolute;
  width: 257px;
  height: 187px;
  top: 132px;
  left: 1110px;
  object-fit: cover;
}

.landing-page .ab-wrapper {
  position: absolute;
  width: 741px;
  height: 547px;
  top: 1123px;
  left: 694px;
}

.landing-page .ab {
  position: absolute;
  width: 638px;
  height: 528px;
  top: 0;
  left: 52px;
  object-fit: cover;
}

.landing-page .line {
  width: 154px;
  top: 2013px;
  left: 580px;
  position: absolute;
  height: 38px;
  object-fit: cover;
}

.landing-page .line-2 {
  width: 153px;
  top: 2956px;
  left: 602px;
  position: absolute;
  height: 38px;
  object-fit: cover;
}

.landing-page .line-3 {
  width: 153px;
  top: 3982px;
  left: 638px;
  position: absolute;
  height: 38px;
  object-fit: cover;
}

.landing-page .overlap-wrapper {
  position: absolute;
  width: 547px;
  height: 525px;
  top: 2079px;
  left: 843px;
}

.landing-page .overlap-3 {
  position: relative;
  width: 510px;
  height: 525px;
}

.landing-page .cyber-live-training {
  position: absolute;
  width: 464px;
  height: 525px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landing-page .shape {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 375px;
  left: 417px;
  object-fit: cover;
}

.landing-page .text-wrapper-20 {
  position: absolute;
  width: 1286px;
  height: 86px;
  top: 2996px;
  left: 73px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.landing-page .frame-wrapper {
  position: absolute;
  width: 1274px;
  height: 342px;
  top: 3486px;
  left: 73px;
  background-color: #d2093c;
}

.landing-page .frame-7 {
  position: relative;
  height: 250px;
  top: 36px;
}

.landing-page .frame-8 {
  position: absolute;
  width: 248px;
  height: 204px;
  top: 26px;
  left: 49px;
}

.landing-page .text-wrapper-21 {
  position: absolute;
  height: 96px;
  top: 30px;
  left: 73px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 96px;
  white-space: nowrap;
}

.landing-page .text-wrapper-22 {
  position: absolute;
  height: 48px;
  top: 133px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.landing-page .frame-9 {
  position: absolute;
  width: 248px;
  height: 204px;
  top: 26px;
  left: 362px;
}

.landing-page .text-wrapper-23 {
  position: absolute;
  height: 96px;
  top: 30px;
  left: 45px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: 96px;
  white-space: nowrap;
}

.landing-page .frame-10 {
  position: absolute;
  width: 270px;
  height: 204px;
  top: 26px;
  left: 653px;
}

.landing-page .text-wrapper-24 {
  position: absolute;
  height: 96px;
  top: 30px;
  left: 59px;
  color: #ffffff;
  font-size: 64px;
  line-height: 96px;
  white-space: nowrap;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  letter-spacing: 0;
}

.landing-page .text-wrapper-25 {
  position: absolute;
  height: 24px;
  top: 145px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.landing-page .overlap-group-2 {
  position: absolute;
  width: 271px;
  height: 248px;
  top: 2px;
  left: 944px;
}

.landing-page .frame-11 {
  position: absolute;
  width: 270px;
  height: 204px;
  top: 21px;
  left: 1px;
}

.landing-page .text-wrapper-26 {
  position: absolute;
  width: 183px;
  height: 48px;
  top: 145px;
  left: 51px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.landing-page .frame-12 {
  position: absolute;
  width: 2px;
  height: 248px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.landing-page .frame-13 {
  position: absolute;
  width: 2px;
  height: 248px;
  top: 2px;
  left: 330px;
  background-color: #ffffff;
}

.landing-page .frame-14 {
  position: absolute;
  width: 2px;
  height: 248px;
  top: 2px;
  left: 637px;
  background-color: #ffffff;
}

.landing-page .frame-15 {
  position: absolute;
  width: 381px;
  height: 438px;
  top: 4061px;
  left: 100px;
  background-color: #ebebeb;
}

.landing-page .cyber-security-img-wrapper {
  position: absolute;
  width: 381px;
  height: 306px;
  top: -4px;
  left: 0;
}

.landing-page .cyber-security-img {
  width: 381px;
  height: 302px;
  top: 4px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.landing-page .why-choose-b-sc {
  position: absolute;
  height: 24px;
  top: 353px;
  left: 13px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.landing-page .frame-16 {
  position: absolute;
  width: 381px;
  height: 438px;
  top: 4061px;
  left: 528px;
  background-color: #ebebeb;
}

.landing-page .overlap-4 {
  position: absolute;
  width: 381px;
  height: 306px;
  top: 0;
  left: 0;
  background-image: url(./img/cyber-security-img-02-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .frame-17 {
  height: 306px;
  background-image: url(./img/cyber-security-img-02-1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.landing-page .text-wrapper-27 {
  position: absolute;
  height: 24px;
  top: 351px;
  left: 20px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.landing-page .frame-18 {
  position: absolute;
  width: 384px;
  height: 438px;
  top: 4061px;
  left: 954px;
  background-color: #ebebeb;
  overflow: hidden;
}

.landing-page .img-wrapper {
  position: absolute;
  width: 396px;
  height: 306px;
  top: 0;
  left: -12px;
}

.landing-page .cyber-security-img-2 {
  width: 384px;
  height: 306px;
  top: 0;
  left: 12px;
  position: absolute;
  object-fit: cover;
}

.landing-page .text-wrapper-28 {
  position: absolute;
  width: 350px;
  height: 48px;
  top: 345px;
  left: 17px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}
